<table class="table index-table">
  <% @posts.each do |post| %>
    <tr>
      <td style="width:100px;"><%= pick_datetime(post.created_at) %></td>
      <td><%= link_to post.title,post %></td>
      <% if user_signed_in? %>
        <td><%= link_to '編集', edit_post_path(post) %></td>
        <td><%= link_to '削除', post_path(post),
                  method: :delete, data: { confirm: '削除しますか？' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if user_signed_in? %>
  <div id="new-post-link">
    <%= link_to "新しい投稿", new_post_path %>
  </div>
<% end %>

<% content_for :footer do %>
  <nav>
    <ul class="nav nav-pills">
      <li role="presentation">
        <%= link_to "about", :controller => "page", :action => "about" %>
      </li>
      <li role="presentation">
        <%= link_to "はてなブログ", "http://malloc.hatenablog.com" %>
      </li>
      <% if user_signed_in? %>
        <li role="presentation" class="pull-right">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
