<article>
  <h2><%= @post.title %></h2>

  <section class="post_info">
      <%= escape_article(@post.text) %>
  </section>
</article>

<section>
  <h3>コメント</h2>
  <%= render @post.comments %>
</section>

<section style="margin-top:30px;">
  <%= render "comments/form" %>
</section>

<%= link_to '戻る', posts_path %>

<% if user_signed_in? %>
<%= link_to '編集', edit_post_path(@post) %>
<% end %>
