<article>
  <h2><%= @post.title %></h2>

  <section class="post_info">
      <%= escape_article(@post.text) %>
  </section>
</article>

<h3>コメント</h3>
<%= render @post.comments %>

<!-- 追加箇所 開始 -->
<h3>コメントを追加</h3>
<%= render "comments/form" %>
<!-- 追加箇所 終了 -->

<%= link_to '戻る', posts_path %>

<% if user_signed_in? %>
<%= link_to '編集', edit_post_path(@post) %>
<% end %>
