<!DOCTYPE html>
<html ja="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="root-container">
  <header class="page-header">
      <h1><%= link_to "the beautiful world", root_path, :id => "logo-link" %>　<small>ふつうの日記をカキコ“〆(^∇゜*)♪</small></h1>
  </header>

  <nav>
    <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
    <% if user_signed_in? %>
      <div id="logout-link" class="text-right">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>

    <% end %>
  </nav>

  <main>
    <%= yield %>
  </main>

</div><!-- #root-container -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
