<!DOCTYPE html>
<html ja="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="<% if check_route('posts', 'show') %> <%= ApplicationController.helpers.strip_tags(@post.text).truncate(120) %> <% else %> 時事ネタ、食べ物、ネット、考え方、アニメなど生活全般を取り扱っております。 <% end %>">
  <meta property="fb:app_id" content="571382893010084">
  <meta property="og:title" content="<% if check_route('posts', 'show') %> <%= escape_article(@post.title) %> - <% end %>ふつうのブログ">
  <meta property="og:description" content="<% if check_route('posts', 'show') %> <%= ApplicationController.helpers.strip_tags(@post.text).truncate(120) %> <% else %> 時事ネタ、食べ物、ネット、考え方、アニメなど生活全般を取り扱っております。 <% end %>">
  <meta property="og:type" content="<% if check_route('posts', 'index') %>website<% else %>article<% end %>" />
  <meta property="og:url" content="http://malloc.tokyo<% if check_route('posts', 'show') %>/posts/<%= @post.id %><% end %> ">
  <meta name="og:image" content="https://dl.dropboxusercontent.com/s/308reogjemlws2y/%E3%82%89%E3%81%8D%E3%81%99%E3%81%9F.jpeg">
  <title><% if check_route('posts', 'show') %> <%= escape_article(@post.title) %> - <% end %>ふつうのブログ</title>
  <link rel="alternate" href="http://malloc.tokyo/posts.rss" type="application/rss+xml" title="ふつうのブログ">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

  <header class="page-header">
      <h1><%= link_to "ふつうのブログ", root_path, :id => "logo-link" %><small class="title-description"></small></h1>
  </header>

  <main class="container">
    <%= yield %>
  </main>

  <footer>
    <%= yield :footer %>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68130749-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
