<!DOCTYPE html>
<html ja="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>ふつうのブログ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

  <header class="page-header">
      <h1><%= link_to "ふつうのブログ", root_path, :id => "logo-link" %>　<small>コンピュータとリベラルアーツ</small></h1>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <%= yield :footer %>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
