<!DOCTYPE html>
<html ja="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>ふつうのブログ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

  <header class="page-header">
      <h1><%= link_to "ふつうのブログ", root_path, :id => "logo-link" %>　<small>ふつうの日記をカキコ“〆(^∇゜*)♪</small></h1>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
  <nav>
    <ul class="nav nav-pills">
      <li role="presentation">
        <a href="#">about</a>
      </li>
      <li role="presentation">
        <a href="http://malloc.hatenablog.com">はてなブログ</a>
      </li>
      <% if user_signed_in? %>
        <li role="presentation" class="pull-right">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
  </nav>
</footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
